@charset="utf-8";

        
    *{margin:0; padding:0;}
    a{text-decoration: none; color:black;}
    li{list-style: none;}
    img{border:0;}
    body{font-family: Helvetica Neue, Helvetica, Arial, sans-serif;}
    .w{max-width:1080px; margin:0 auto;}
    
    header{
        display:flex;
        justify-content: space-between;
        background:#fff;
        position:fixed;
        z-index:99;
        height:50px;
    }

    .logo{
        width:15%;
    }
    .cart{
        width:15%;
    }
    .logo img{
        width:80%;
        margin:19%;
    }
    .cart img{
        width:100%;
        margin:3%;
    }


/*메인 시작*/
    .main{
        height:210px;
    }
    .main img{
    width:100%;
    height:210px;
    margin-top:50px;
    }

    /*메인텍스트*/
    .main_text{
        width:80%;
        transform: translate(10%,-250%)
    }
    .main_text > h2{
        font-size:0.9rem;
        font-weight:bold;
    }
    .main_text > p{
        font-size:0.5rem;
        font-weight: bold;
        padding-top:5px;
    }
    .main_text > p span{
        color:gray;
        padding-right:20px;
    }


/*ct 시작*/
    .ct{
        margin-top:50px;
    }
/*ct*/
    /*다님길 카페노트*/
    .ct_main{
        transform: translateY(10px);
        margin:0 auto;
        width:80%;
        height:5%;
        padding:2%;
        background:#a26f53;
        border-radius: 15px 15px 0 0;
        text-align: center;
    }
    .ct_main > h2{
        font-size:0.8rem;
        font-weight:bolder;
        color:white;
    }   

    .contents{       
        /*체크 깔기*/
        background:url(img/check.png);
        background-size:2%;
        border-top:2px solid #E5D7D0;
    }

    .ct_body{
        /*타공 깔기*/
        background:url(img/ling2.png);
        background-size:15%;
        background-repeat:repeat-Y;
        padding:0 9%;
    }
.start{
    margin-left:10px;
}

/*main 내용 시작*/
    .title{
        margin-top:10%;
        display:flex;
        justify-content:flex-start;
    }
    .title img{
        width:10px;
        height:10px;
        margin-top:3px;
    }
    .title h3{
        font-size:0.8rem;
    }
    .subtitle{
        font-size:0.1rem;
        margin:5px 0;
        color:gray;
    }



